ion-card {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 25px 0 25px;
    box-shadow: none!important;
}
* {
    font-weight: 300;
}

ion-content {
    --background: #fafafa;
}

@-webkit-keyframes bounce-in-top{0%{-webkit-transform:translateY(-500px);transform:translateY(-500px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateY(-65px);transform:translateY(-65px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateY(-28px);transform:translateY(-28px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateY(-8px);transform:translateY(-8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes bounce-in-top{0%{-webkit-transform:translateY(-500px);transform:translateY(-500px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateY(-65px);transform:translateY(-65px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateY(-28px);transform:translateY(-28px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateY(-8px);transform:translateY(-8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}
.animalogo {
  -webkit-animation:bounce-in-top 1.1s both;animation:bounce-in-top 1s both;
  img{
    height: 120px;
    width: 120px;
    margin-top: 50px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}

ion-text {
    position: fixed;
    top: 50%;
    left: 10%;
    right: 10%;
    text-align: center;
    
    h1 {
        font-size: 42px;
        
    }

    p{
        font-size: 14px;
        color: #696969;
    }
}

.form-recuperar {
  position: absolute;
  top: 45%;
  left: 20px;
  right: 20px;
  text-align: center;
  
  //width: 100%;
  --background: linear-gradient(90deg, #459ddb 0%, #023fb9 100%);
}

.fuerte {
  color: #023fb9;
  font-weight: 700;
}
.actions {
    position:absolute;
    width: 90%;
    bottom: 16px;
}

//estilo para todos los botones
ion-button {
    --border-radius:9px;
    --box-shadow: none;
    text-transform: initial;
    font-size: 12px;
}

.login-buttons{
    display: flex;
    justify-content: space-between;

    ion-button {
        width: 45%;
        --background: #fff ;
        --color: #3b3b3b ;
        --border-style: solid ;
        --border-color: #eeeeee ;
        --border-width: 0.5px ;
    }

    ion-avatar {
        height: 12px;
        width: 12px;
        margin-right: 7px;
        margin-bottom: 1px;
    }
}

.separator {
  display: flex;
  justify-content: center;
  margin: 8px auto 10px;
  font-size: 12px;
  position: relative;

  .line {
    position: absolute;
    border-top: 1px solid #dfdfdf;
    width:70px;
    height: 2px;
    top: 8px
  }

  .right {
    right: 35px;
  }

  .left {
    left: 35px;
  }
}
